@model IEnumerable<Vidly.BL.Domain.Movie>
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-top-10">
    <h1>Movies</h1>
    @Html.ActionLink("New", "New", null, new { @class = "btn btn-new" })

    <table id="Movies" class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>
                    <strong>Movies</strong>
                </td>
                <td>
                    <strong>Genre</strong>
                </td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>

            @*@foreach (var movie in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(movie.Name, "Details", new { id = movie.ID })
                        </td>
                        <td>@movie.Genre.Name</td>
                        <td>
                            <button class="btn btn-link btn-delete" data-movie-id=@movie.ID>DELETE</button>
                        </td>
                    </tr>
                }*@
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $("#Movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    method: "GET",
                    dataSrc: ""
                },

                columns: [
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href='/movies/details/" + movie.id + "'>" + movie.name + "</a>"
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: function (data, type, movie) {
                            return "<button class='btn btn-link btn-delete' data-movie-id='" +
                                movie.id +
                                "'>DELETE</button>";
                        }
                    }
                ]
            });

            $("#Movies").on("click",
                ".btn-delete",
                function () {
                    var button = $(this);

                    bootbox.confirm("Are you sure?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/movies/" + button.attr("data-movie-id"),
                                    method: "DELETE",
                                    success: function () {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}