@model Vidly.BL.Domain.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2 class="row p-5 p-bottom-0">@Model.Name</h2>
    <ul class="row customer-info m-l-35">

        <li class="col-12 p-left-0">
            <span>Memmbership Type: </span>
            @Model.MemberShipType.Name
        </li>

        @if (Model.BirthDate != null)
        {
            <li class="col-12 p-left-0">
                <span>Birthdate: </span>
                @Model.BirthDate.ToString().Split(' ')[0]
            </li>
        }
    </ul>

</div>

