@model IEnumerable<Vidly.BL.Domain.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-50">
    <h1>Customers</h1>
    @Html.ActionLink("New", "New", null, new { @class = "btn btn-new" })
    <table class="table table-bordered" style="font-size:18px;">
        <thead>
            <tr>
                <td>
                    <strong>Customers</strong>
                </td>
                <td>
                    <strong>
                        Membersip Type
                    </strong>
                </td>
                <td>
                    <strong>
                        Delete
                    </strong>
                </td>
            </tr>

        </thead>
        <tbody id="Customers">

            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(customer.Name, "Details", new { id = customer.ID })

                    </td>
                    <td>
                        @customer.MemberShipType.Name
                    </td>
                    <td>
                        <button class="btn btn-link btn-delete" data-customer-id="@customer.ID">DELETE</button>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            $("#Customers").on("click", ".btn-delete", function () {

                var button = $(this);
                bootbox.confirm("Are you sure ?", function (result) {
                    if (result) {
                        $.ajax(
                            {
                                url: "/api/customers/" + button.attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                    button.parents("tr").remove();
                                }
                            });
                    }

                });

            });
        });
    </script>
}
