@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental</h2>

<div class="row">
    <div class="col-lg-6 col-md-6 rent-form">
        <form>
            <div class="form-group">
                <label>Employee</label>
                <input type="text" disabled="disabled" class="form-control" value="@User.Identity.Name" />
            </div>

            <div class="form-group">
                <label>Customer</label>
                <select class="form-control select-customer">
                    <option> Select Customer</option>
                </select>
            </div>

            <div class="form-group">
                <label>Rent date</label>
                <input type="date" disabled="disabled" class="form-control rent-date" />
            </div>

            <hr />

            <div class="add-movie-section">
                <div class="form-group">
                    <label>Movie</label>
                    <select class="form-control select-movie">
                        <option>Select Movie</option>
                    </select>

                </div>
                <div class="form-group">
                    <label>Unit price</label>
                    <input type="number" class="form-control movie-price" />
                </div>
                <div class="form-group">
                    <label>quantity</label>
                    <input type="number" class="form-control movie-quantity" />
                </div>

            </div>
        </form>
        <div>
            <button class="btn btn-primary btn-add-movie">Add To Cart</button>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 shopping-cart">



    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            function setDate(date) {

                var actualDate = new Date(date);

                var day = actualDate.getDate(),
                    month = actualDate.getMonth() + 1,
                    year = actualDate.getFullYear()

                month = (month < 10 ? "0" : "") + month;
                day = (day < 10 ? "0" : "") + day;

                return year + "-" + month + "-" + day;
            }


            $.ajax({
                url: "/api/newrentals",
                method: "GET",
                success: function (result) {
                    for (let customer of result.customers) {
                        $(".select-customer")
                            .append(`<option value="` + customer["id"] + `">` + customer["name"] + `</option>`);
                    }

                    $(".rent-date").val(setDate(Date.now()));

                    for (let movie of result.movies) {
                        $(".select-movie")
                            .append(`<option data-genre="` + movie.genre.name + `" value="` + movie["id"] + `">` + movie["name"] + `</option>`);

                    }

                }
            });

            $(".btn-add-movie").on("click", function () {

                $(".shopping-cart").append(`
                                                                    <div class="card" style="width: 18rem;">
                                                                        <div class="card-body">
                                                                            <h5 class="card-title">`+ $(".select-movie option:selected").text() + `</h5>
                                                                            <h6 class="card-subtitle mb-2 text-muted"><strong>GENRE: </strong>`+ $(".select-movie option:selected").attr("data-genre") + `</h6>
                                                                            <p class="card-text"> <strong>Unit price: </strong>`+ $(".movie-price").val() + `</p>
                                                                            <p class="card-text"><strong>Quantity: </strong>`+ $(".movie-quantity").val() + `</p>
                                                                            <button class="btn btn-danger card-link btn-remove-from-cart">Remove From Cart</button>
                                                                        </div>
                                                                    </div> `);
                $('.select-customer').prop('disabled', true);
            });


        });
    </script>
}