@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental</h2>

<input type="hidden" id="LastIdentValue" />
<form>
    <div class="row">

        <div class="col-lg-6 col-md-6 rent-form">
            <div class="form-group">
                <label>Employee</label>
                <input type="text" disabled="disabled" class="form-control employee" value="@User.Identity.Name" data-id="@User.Identity.GetUserId()" />
            </div>

            <div class="form-group">
                <label>Customer</label>
                <input id="customer" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label>Rent date</label>
                <input type="date" disabled="disabled" class="form-control rent-date" />
            </div>

            <hr />

            <div class="add-movie-section">
                <div class="form-group">
                    <label>Movie</label>
                    <input id="movie" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label>Unit price</label>
                    <input type="number" class="form-control movie-price" />
                </div>
                <div class="form-group">
                    <label>quantity</label>
                    <input type="number" class="form-control movie-quantity" />
                </div>

            </div>

            <div>
                <button class="btn btn-primary btn-add-movie" type="button">Add To Cart</button>
                <button class="btn btn-warning btn-confirm" type="button" disabled="disabled">Confirm</button>
            </div>

        </div>
        
        @* Shopping Cart section *@
        <div class="col-lg-6 col-md-6 shopping-cart">



        </div>
    </div>

</form>

@section scripts{
    @Scripts.Render("~/Scripts/newRentals.js")
}