@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental</h2>

<input type="hidden" id="LastIdentValue" />
<form>
    <div class="row">

        <div class="col-lg-6 col-md-6 rent-form">
            <div class="form-group">
                <label>Employee</label>
                <input type="text" disabled="disabled" class="form-control employee" value="@User.Identity.Name" data-id="@User.Identity.GetUserId()" />
            </div>

            <div class="form-group">
                <label>Customer</label>
                <select class="form-control select-customer">
                    <option> Select Customer</option>
                </select>
            </div>

            <div class="form-group">
                <label>Rent date</label>
                <input type="date" disabled="disabled" class="form-control rent-date" />
            </div>

            <hr />

            <div class="add-movie-section">
                <div class="form-group">
                    <label>Movie</label>
                    <select class="form-control select-movie">
                        <option>Select Movie</option>
                    </select>

                </div>
                <div class="form-group">
                    <label>Unit price</label>
                    <input type="number" class="form-control movie-price" />
                </div>
                <div class="form-group">
                    <label>quantity</label>
                    <input type="number" class="form-control movie-quantity" />
                </div>

            </div>

            <div>
                <button class="btn btn-primary btn-add-movie" type="button">Add To Cart</button>
                <button class="btn btn-warning btn-confirm" type="button" disabled="disabled">Confirm</button>
            </div>

        </div>
        <div class="col-lg-6 col-md-6 shopping-cart">



        </div>
    </div>

</form>


@section scripts{
    <script>
        $(document).ready(function () {

            function setDate(date) {

                var actualDate = new Date(date);

                var day = actualDate.getDate(),
                    month = actualDate.getMonth() + 1,
                    year = actualDate.getFullYear()

                month = (month < 10 ? "0" : "") + month;
                day = (day < 10 ? "0" : "") + day;

                return year + "-" + month + "-" + day;
            }


            $.ajax({
                url: "/api/newrentals",
                method: "GET",
                success: function (result) {
                    for (let customer of result.customers) {
                        $(".select-customer")
                            .append(`<option value="` + customer["id"] + `">` + customer["name"] + `</option>`);
                    }

                    $(".rent-date").val(setDate(Date.now()));

                    for (let movie of result.movies) {
                        $(".select-movie")
                            .append(`<option data-genre="` +
                                movie.genre.name +
                                `" value="` +
                                movie["id"] +
                                `">` +
                                movie["name"] +
                                `</option>`);

                    }

                    $("#LastIdentValue").val(result.lastIdentValue);

                }
            });

            $(".btn-add-movie").on("click",
                function () {

                    $(".shopping-cart").append(
                        `
                                        <div class="card"  data-price ="${$(".movie-price").val()}" data-quantity="${
                        $(".movie-quantity").val()}"   style="width: 18rem;">
                                            <div class="card-body">
                                                <h5 class="card-title">${$(".select-movie option:selected").text()}</h5>
                                                <h6 class="card-subtitle mb-2 text-muted">
                                                    <strong>GENRE: </strong>${$(".select-movie option:selected").attr("data-genre")}
                                                </h6>
                                                <p class="card-text">
                                                    <strong>Unit price: </strong>
                                                    ${$(".movie-price").val()}

                                                </p>
                                                <p class="card-text">
                                                    <strong>Quantity: </strong>
                                                    ${$(".movie-quantity").val()}
                                                </p>
                                                <button class="btn btn-danger card-link btn-remove-from-cart">Remove From Cart</button>
                                            </div>
                                        </div>
                    `);
                    $('.select-customer').prop('disabled', true);
                    $('.btn-confirm').prop('disabled', false);
                });

            $(".shopping-cart").on("click",
                ".btn-remove-from-cart",
                function () {
                    console.log($(this).parents(".card"));
                    $(this).parents(".card").remove();

                    if ($(".shopping-cart").children().length === 0) {
                        $('.select-customer').prop('disabled', false);
                        $('.btn-confirm').prop('disabled', true);

                    }
                });

            $('.btn-confirm').on('click',
                function () {

                    let rentalDetails = [];

                    for (let i = 0; i < $(".shopping-cart").children().length; i++) {
                        rentalDetails.push({
                            "rentalID": parseInt($("#LastIdentValue").val()) + 1,
                            "movieID": $(".select-movie option:selected").val(),
                            "unitPrice": $(".shopping-cart").children()[i].getAttribute("data-price"),
                            "quantity": $(".shopping-cart").children()[i].getAttribute("data-quantity")
                        });
                    }

                    const data = {
                        "customerID": $(".select-customer option:selected").val(),
                        "employeeID": $(".employee").attr('data-id'),
                        "rentDate": $('.rent-date').val(),
                        "rentalDetails": rentalDetails
                    };

                    $.ajax({
                        url: '/api/newrentals',
                        method: 'POST',
                        contentType: 'application/json',
                        data:  JSON.stringify(data),
                        success: function () {
                            console.log("Order confirmed");
                        }
                    });

                });

        });
    </script>
}