.p-top-0 {
    padding-top: 0 !important;
}

.p-top-1 {
    padding-top: 1px !important;
}

.p-top-2 {
    padding-top: 2px !important;
}

.p-top-3 {
    padding-top: 3px !important;
}

.p-top-4 {
    padding-top: 4px !important;
}

.p-top-5 {
    padding-top: 5px !important;
}

.p-top-6 {
    padding-top: 6px !important;
}

.p-top-7 {
    padding-top: 7px !important;
}

.p-top-8 {
    padding-top: 8px !important;
}

.p-top-9 {
    padding-top: 9px !important;
}

.p-top-10 {
    padding-top: 10px !important;
}

.p-bottom-0 {
    padding-bottom: 0 !important;
}

.p-left-0 {
    padding-left: 0 !important;
}

.customer-info {
    font-size: 17px;
    color: #716f6f;
}

.m-l-35 {
    margin-left: 35px !important;
}

.p-50 {
    padding: 50px;
}

.btn-new {
    background-color: #158cba;
    color: white;
    width: 75px !important;
    margin: 15px 0 5px 0 !important;
    border-bottom-width: 0 !important;
}

    .btn-new:hover {
        background-color: #156280;
        color: white;
        width: 75px !important;
        margin: 15px 0 5px 0 !important;
        border-bottom-width: 0 !important;
    }

#Customers,
#Movies {
    width: 100% !important;
}



#Customers_wrapper,
#Movies_wrapper {
    padding: 0 !important;
    margin-top: 15px;
}

#customer-validation-msg,
#movie-validation-msg,
#quantity-validation-msg,
#price-validation-msg {
    width: 100%;
    color: red;
    visibility: hidden;
}
