<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="FacebookAppId"  value="808024266373504"/>
  <add key="FacebookAppSecret" value="ad5431fae41a67509d3c326e9e394669"/>
  <add key="MailServer" value="dev-smtp.vidly.com"/>
</appSettings>